[Unit]
Description=Hyperboard Web
After=hyperboard-api.service
Requires=hyperboard-api.service

[Container]
Image=ghcr.io/dharmab/hyperboard-web:main
ContainerName=hyperboard-web
Pod=hyperboard.pod
Environment=HYPERBOARD_WEB_ADMIN_PASSWORD=${HYPERBOARD_ADMIN_PASSWORD}
Environment=HYPERBOARD_WEB_SESSION_SECRET=${HYPERBOARD_SESSION_SECRET}
Environment=HYPERBOARD_WEB_API_URL=http://localhost:8081
Environment=HYPERBOARD_WEB_LOG_LEVEL=info

[Service]
EnvironmentFile=/etc/hyperboard/hyperboard.env
Restart=always
