[Unit]
Description=Hyperboard Async Controller
After=hyperboard-postgresql.service hyperboard-rustfs.service
Requires=hyperboard-postgresql.service hyperboard-rustfs.service

[Container]
Image=ghcr.io/dharmab/hyperboard-async:main
ContainerName=hyperboard-async
Pod=hyperboard.pod
Environment=HYPERBOARD_ASYNC_LEADER_ELECTION=postgres
Environment=HYPERBOARD_ASYNC_POSTGRESQL_HOST=localhost
Environment=HYPERBOARD_ASYNC_POSTGRESQL_USER=${HYPERBOARD_DB_USER}
Environment=HYPERBOARD_ASYNC_POSTGRESQL_PASSWORD=${HYPERBOARD_DB_PASSWORD}
Environment=HYPERBOARD_ASYNC_POSTGRESQL_DATABASE=${HYPERBOARD_DB_NAME}
Environment=HYPERBOARD_ASYNC_POSTGRESQL_SSL_MODE=disable
Environment=HYPERBOARD_ASYNC_STORAGE_ENDPOINT=http://localhost:9000
Environment=HYPERBOARD_ASYNC_STORAGE_BUCKET=${HYPERBOARD_STORAGE_BUCKET}
Environment=HYPERBOARD_ASYNC_STORAGE_ACCESS_KEY=${HYPERBOARD_STORAGE_ACCESS_KEY}
Environment=HYPERBOARD_ASYNC_STORAGE_SECRET_KEY=${HYPERBOARD_STORAGE_SECRET_KEY}
Environment=HYPERBOARD_ASYNC_STORAGE_REGION=${HYPERBOARD_STORAGE_REGION}
Environment=HYPERBOARD_ASYNC_STORAGE_USE_PATH_STYLE=true
Environment=HYPERBOARD_ASYNC_LOG_LEVEL=info

[Service]
EnvironmentFile=/etc/hyperboard/hyperboard.env
Restart=always
