[Unit]
Description=Hyperboard PostgreSQL
After=hyperboard.network

[Container]
Image=docker.io/library/postgres:17
ContainerName=hyperboard-postgresql
Network=hyperboard.network
Volume=${HYPERBOARD_POSTGRESQL_DATA_DIR}:/var/lib/postgresql/data
Environment=POSTGRES_USER=${HYPERBOARD_DB_USER}
Environment=POSTGRES_PASSWORD=${HYPERBOARD_DB_PASSWORD}
Environment=POSTGRES_DB=${HYPERBOARD_DB_NAME}
PublishPort=5432:5432
HealthCmd=pg_isready -U ${HYPERBOARD_DB_USER} -d ${HYPERBOARD_DB_NAME}
HealthInterval=5s
HealthTimeout=5s
HealthRetries=5

[Service]
EnvironmentFile=/etc/hyperboard/hyperboard.env
Restart=always

[Install]
WantedBy=multi-user.target default.target
