[Unit]
Description=Hyperboard PostgreSQL

[Container]
Image=docker.io/library/postgres:17
ContainerName=hyperboard-postgresql
Pod=hyperboard.pod
Volume=${HYPERBOARD_POSTGRESQL_DATA_DIR}:/var/lib/postgresql/data
Environment=POSTGRES_USER=${HYPERBOARD_DB_USER}
Environment=POSTGRES_PASSWORD=${HYPERBOARD_DB_PASSWORD}
Environment=POSTGRES_DB=${HYPERBOARD_DB_NAME}
HealthCmd=pg_isready -U ${HYPERBOARD_DB_USER} -d ${HYPERBOARD_DB_NAME}
HealthInterval=5s
HealthTimeout=5s
HealthRetries=5

[Service]
EnvironmentFile=/etc/hyperboard/hyperboard.env
Restart=always
